@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
  var resultAuthorize = await authorizationService.AuthorizeAsync(this.User, "ShowAdminMenu");
}
@if (resultAuthorize.Succeeded)
{
  <div class="dropdown">
    <a class="nav-item nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
    aria-expanded="false">
      Manage
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" asp-page="/Role/Index" asp-area="Admin">Quản lý role</a></li>
      <li><a class="dropdown-item" asp-page="/User/Index" asp-area="Admin">Quản lý user</a></li>
    </ul>
  </div>

}