@page "/user/personal-data"
@model PersonalDataModel
@{
    ViewData["Title"] = "Dữ liệu cá nhân";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Bạn có thể tải thông tin cá nhân hoặc xoá hoàn toàn thông tin trên trang RazorWeb</p>
        <p>
            <strong>Nếu xoá tài khoản thì thông thể phục hồi</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary mb-3" type="submit">Tải dữ liệu</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Xoá tài khoản</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
