@page "/can-xac-thuc-email-dang-ky.html"
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Thông báo xác thực email";
}

<h1>@ViewData["Title"]</h1>
<p>Bạn cần đăng nhập email để xác thực tài khoản</p>
